*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F2EEEB;
    font-family: "Libre Baskerville";
}

header{
    background-color: #2B4C8C;
    height: 70px;
    color: #fff;
}

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

nav a{
    margin-top: 25px;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
}





footer{
    background-color: #2B4C8C;
    height: 100px;
    color: #fff;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
}